body {
  background-color: #7CB9E8;
}

.container {
  margin: auto;
  width: 50%;
  border: 3px solid #FFD700;
  padding: 100px;
  text-align: center;
  background-color: #87CEEB;
}

.textbox {
  border: 1px solid lightgray;
  border-radius: 6px;
  padding: 10px;
  width: 50%;
  margin: auto;
}

.title1 {
  font-size: 50px;
  font-weight: 200;
}

.title2 {
  font-size: 30px;
  font-weight: 200;
}

.city {
  font-size: 30px;
  font-weight: 200;
}

.temperature {
  font-size: 40px;
  padding: 10px;
  border: 1px solid yellow;
  border-radius: 12px;
}

.weather {
  font-size: 30px;
  font-weight: 200;
}

